<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
    <style>
        .list{
            margin: 20px;
        }
        .list .container{
            box-shadow: 0 0 20px;
            padding: 50px;
            background-color: white;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="list">
    <div class="container">
        <h1>Add Question</h1>
        <form class="form" method="post" th:object="${question}" th:action="@{/user/addQuestion}">
            <div class="form-group">
                <label for="ques">Question</label>
                <input type="text" class="input form-control" placeholder="Question..." id="ques" th:field="*{questionText}">
            </div>
            <div class="form-group">
                <label for="ans1">Answer 1</label>
                <input type="text" class="input form-control" id="ans1" placeholder="Answer" th:field="*{answerOptions[0].answerText}">
            </div>
            <div class="form-group">
                <label for="ans2">Answer 2</label>
                <input type="text" class="input form-control" id="ans2" placeholder="Answer" th:field="*{answerOptions[1].answerText}">
            </div>
            <div class="form-group">
                <label for="ans3">Answer 3</label>
                <input type="text" class="input form-control" id="ans3" placeholder="Answer" th:field="*{answerOptions[2].answerText}">
            </div>

<!--            <input type="text" class="input form-control" placeholder="Question text" th:field="*{questionText}">-->
<!--            <input type="text" class="input from-control" placeholder="Answer 1" th:field="*{answerOptions[0].answerText}">-->
<!--            <input type="text" class="input from-control" placeholder="Answer 2" th:field="*{answerOptions[1].answerText}">-->
<!--            <input type="text" class="input from-control" placeholder="Answer 3" th:field="*{answerOptions[2].answerText}">-->
            <input type="submit" class="submit btn btn-warning" value="Add question">
        </form>
    </div>
</div>
</body>
</html>