<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .list{
            margin: 20px;
        }
        .list .container{
            box-shadow: 0 0 20px;
            padding: 50px;
            background-color: white;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header2 :: header"></header>
<div class="list">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Online Voting</h1>
                <hr>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid Login/Password!!!</div>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-success">You successfully registered!!!</div>
                </div>
            </div>
            <div class="col-md-4">
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <a type="submit" class="" th:href="@{/signup}">Sign up</a><br><br>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>