<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        .list{
            margin: 20px;
        }
        .list .container{
            box-shadow: 0 0 20px;
            padding: 50px;
            background-color: white;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="list">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Welcome to voting</h1>
            </div>
            <div class="col-md-6">
                <form class="form" method="post" th:object="${user}" th:action="@{/signup}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="input form-control" id="username" placeholder="Username" th:field="*{username}">
                    </div>
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="input form-control" id="fname" placeholder="First Name" th:field="*{firstName}">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" class="input form-control" id="lname" placeholder="Last Name" th:field="*{lastName}">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="input form-control" id="age" placeholder="Age" th:field="*{age}">
                    </div>
                    <div class="form-group">
                        <label for="interest">Interest</label>
                        <input type="text" class="input form-control" id="interest" placeholder="Interest" th:field="*{interest}">
                    </div>
                    <div class="form-group">
                        <label for="groupn">Group Name</label>
                        <input type="text" class="input form-control" id="groupn" placeholder="Group Name" th:field="*{groupName}">
                    </div>

                    <!--                    <input type="text" class="input from-control" placeholder="Username" th:field="*{username}">-->
                    <!--                    <input type="text" class="input from-control" placeholder="Name" th:field="*{firstName}">-->
                    <!--                    <input type="text" class="input from-control" placeholder="Surname" th:field="*{lastName}">-->
                    <!--                    <input type="number" class="input from-control" placeholder="Age" th:field="*{age}">-->
                    <!--                    <input type="text" class="input from-control" placeholder="Interest" th:field="*{interest}">-->
                    <!--                    <input type="text" class="input from-control" placeholder="Group Name" th:field="*{groupName}">-->

                    <div class="form-group">
                        <div th:each="role : ${roles}">
                            <input type="radio" th:id="${role.roleId}" th:name="${user.role}" th:value="${role.roleId}" th:field="*{role.roleId}">
                            <label th:for="${role.roleId}" th:text="${role.roleName}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="input form-control" id="pass" placeholder="Password" th:field="*{password}">
                    </div>

                    <!--                    <input type="password" class="input form-control" placeholder="Password" th:field="*{password}">-->
                    <input type="submit" class="submit btn btn-success" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>